.spartan {
  font-family: 'Spartan', sans-serif;
}

.size_16 {
  font-size: 16px;
}

.size_21 {
  font-size: 21px;
}

.size_40 {
  font-size: 40px;
}


.italics {
  font-style: italic;
}

.lavender {
  color: #6D6875;
}


.margin_bottom10 {
  margin-bottom: 10px;
}

.margin_bottom20 {
  margin-bottom: 20px;
}

.margin_left15 {
  margin-left: 80px;
}


.height85 {
  height: 85px;
}

.float_left {
  float: left;
}

.float_right {
  position: relative;
  float: right;
}


.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}
.flex.column {
  flex-direction: column;
}


.nav_bar {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;

  overflow: hidden;
}

.nav_item {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_item:hover {
  background-color: #E5989B;
  color: transparent;
  text-shadow: 0px, 1px, 1px, rgba(255, 255, 255, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}


.footer {
  background: #f5f5f5;
  padding: 20px 60px;
  justify-content: space-between;
}


.clothing_image {
  height: 400px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 45.31%, #FFFFFF 100%), url(clothing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feed_page {
  text-align: center;
}

.feed_quote {
  font-family: 'Satisfy', cursive;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 150px;
  font-size: 60px;
}

.item_meta {
  text-align: left;
  margin-left: 50px;
  width: 300px;
}

.feed_item {
  margin: 50px;
}

.contact_button {
  background: #E5989B;
  padding: 8px 25px 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 1px 9px rgb(0 0 0 / 34%);
}
.contact_button:focus {
  outline: none;
}
.contact_button:hover {
  background: #c58284;
}

.list_an_item {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 175px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.input_title {
  font-family:Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

.description_text_area {
  font-family:Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  resize: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

.submit_btn {
  font-family: Arial, Helvetica, sans-serif;
  background: #E5989B;
  padding: 8px 25px 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 1px 9px rgb(0 0 0 / 34%);
}
.submit_btn:focus {
  outline: none;
}
.submit_btn:hover {
  background: #c58284;
}