.size_21 {
  font-size: 21px;
}

.size_40 {
  font-size: 40px;
}

.float_left {
  float: left;
}

.float_right {
  position: relative;
  float: right;
}

.nav_bar {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;

  overflow: hidden;
}

.margin_left_15 {
  margin-left: 80px;
}

.nav_item {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_item:hover {

  background-color: #E5989B;
  color: transparent;
  text-shadow: 0px, 1px, 1px, rgba(255, 255, 255, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.clothing_image {
  height: 400px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 45.31%, #FFFFFF 100%), url(clothing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feed_page {
  text-align: center;
}

.feed_quote {
  font-family: 'Satisfy', cursive;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 150px;
  font-size: 60px;
}